body{
    color:rgb(0, 0, 0);
background: rgb(0, 132, 255);
}

header {
    border-bottom: solid 2px rgb(25, 0, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(30, 0, 255);
    font-family: "Eater", serif;
}

section {
    background: rgb(192, 230, 241);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}